body {
    background: #b5926d; 
    background-size: cover;
    background-position: center;
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100vh;
    font-weight: bold;
    font-size: 16px;
    color: black;
}
.coffeehouse {
    background: transparent;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    margin: auto;
    width: 350px;
    height: 350px;
}

h2 {
    text-align: center;
    color: #3b2f2f;
}

#customer, #password {
    background: transparent;
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    padding: 5px;
    margin: 2px;
}

button {
    background: linear-gradient(to right, #e7d4b5, #c0a080, #b5926d);
    border-radius: 30px;
    border-color: wheat;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    width: 350px;
    transition: all 0.5s ease;
}

button:hover {
    box-shadow: 0 8px 20px #d1b48c;
    border-color: #c89f6c;
}

.createaccount {
    padding: 30px;
    text-align: center;
}

.createaccount a {
    color: #4b2e05;
    text-decoration: none;
}

.createaccount a:hover {
    text-decoration: underline;
}

.coffeenote {
    text-align: center;
}

.coffeenote div {
    display: inline-block;
    text-align: center;
    background-color: rgba(255, 248, 240, 0.8);
    border: 2px solid white;
    border-radius: 25px;
    width: 150px;
    height: 170px;
    padding: 10px;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(90, 50, 20, 0.6);
    animation: coffeeentry 1.5s ease;
    transition: all 0.4s ease;
}

.coffeenote div:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(202, 149, 80, 0.8);
}

.coffeenote img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #d4b996;
    object-fit: cover;
}

.coffeenote p {
    font-size: 13px;
    color: #4e342e;
    margin-top: 10px;
}

@keyframes coffeeentry {
    from {opacity: 0; transform: translateY(30px);}
    to {opacity: 1; transform: translateY(0);}
}
